AlmaApi/xsd/rest_purchase_request.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>
			Purchase requests enable patrons to request that a library purchase an item. 
			The requester can request an item for any reason, for example: the library does not have a copy (there is no bibliographic record, or there is a bibliographic record but no inventory), or the library does not have enough copies or in the right format or edition, or the existing copy is damaged. 
			After creating a purchase request, the request will be reviewed by a staff user which will decide whether to purchase the item or reject the request.</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="rest_notes.xsd"/>

	<xs:element name="purchase_request" type="purchase_request"/>
	<xs:complexType name="purchase_request">
		<xs:annotation>
			<xs:documentation>Purchase request Object.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="request_id" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Internal identifier of the request in Alma, generated by Alma. 
						Should be used in subsequent queries regarding the request.
						Output parameter.
					</xs:documentation>
					<xs:appinfo>
						<xs:tags>get</xs:tags>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="created_date" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The request creation date. Output parameter.</xs:documentation>
					<xs:appinfo>
						<xs:tags>get</xs:tags>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="last_modified_date" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Date by which the last change to the request was made. Output parameter.
					</xs:documentation>
					<xs:appinfo>
						<xs:tags>get</xs:tags>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="format" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:codeTable>PR_RequestedFormat</xs:codeTable>
						<xs:tags>get post put</xs:tags>
					</xs:appinfo>
					<xs:documentation>
						Whether the item should be acquired in electronic or physical format. 
						Possible values are listed in 'PR_RequestedFormat' [code table|https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API].
						Default is Physical.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>	
			<xs:element name="requester" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The primary identifier and full name of the requesting user. Output parameter.
					</xs:documentation>
					<xs:appinfo>
						<xs:tags>get</xs:tags>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional"/>
							<xs:attribute name="link" type="xs:string" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>	
			<xs:element name="created_from" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:codeTable>PPRSourceType</xs:codeTable>
						<xs:tags>get</xs:tags>
					</xs:appinfo>
					<xs:documentation>
						The place in which the request was initiated. Output parameter.
						Possible values are listed in 'PPRSourceType' [code table|https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API].
						For purchase requests created via API, this field will be populated with "API".
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>				
			<xs:element name="status" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:codeTable>PurchaseRequestStatus</xs:codeTable>
						<xs:tags>get</xs:tags>
					</xs:appinfo>
					<xs:documentation>
						The status of the request.  Output parameter.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="owning_library" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>get post put</xs:tags>
					</xs:appinfo>
					<xs:documentation>
						The library that should receive the item. 
						See [Get libraries API|https://developers.exlibrisgroup.com/alma/apis/conf/GET/gwPcGly021p29HpB7XTI4Dp4I8TKv6CAxBlD4LyRaVE=/37088dc9-c685-4641-bc7f-60b5ca7cabed].
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="estimated_cost" type="amount" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>get post put</xs:tags>
					</xs:appinfo>
					<xs:documentation>
						An estimated cost for the item, including the currency.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fund" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>get post put</xs:tags>
					</xs:appinfo>
					<xs:documentation>
						The fund code. 
						See [Get funds API|https://developers.exlibrisgroup.com/alma/apis/acq/GET/gwPcGly021oUHLI4O/zpt8U7ewiJYRLM/d5b14609-b590-470e-baba-9944682f8c7e].
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="vendor" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>get post put</xs:tags>
					</xs:appinfo>
					<xs:documentation>
						The vendor code from which to purchase the item. 
						If vendor is supplied, vendor account should be suplied as well.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="vendor_account" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>get post put</xs:tags>
					</xs:appinfo>
					<xs:documentation>
						The vendor account code. Must be a valid account of the vendor.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="approved_by" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>get</xs:tags>
					</xs:appinfo>
					<xs:documentation>
						The primary identifier of the operator which made the approval. Output parameter.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="requester_note" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Any note to send to the user who will be approving or rejecting the request.</xs:documentation>
					<xs:appinfo>
						<xs:tags>get post put</xs:tags>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="reject_reason" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:codeTable>PR_RejectReasons</xs:codeTable>
						<xs:tags>get</xs:tags>
					</xs:appinfo>
					<xs:documentation>
						The reason the request was rejected, if any. Output parameter.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="resource_metadata" type="resource_metadata" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>get post</xs:tags>
					</xs:appinfo>
					<xs:documentation>
						In order to create a purchase request, the bibliographic information should be supplied. 2 ways are supported:
						1. Supply mms_id - in this case the purchase request will be attached to this mms_id. No need to supply additional bibliographic information in this case (if supplied it will be ignored).
						2. Supply bibliographic information - in this case title is mandatory. 
						Alma will try to match this information with an existing BIB record. 
						The match routine is according to the definition of purchase_request_import_profile customer parameter.
						If no profile is specified in the parameter, the matching is based on the ISBN/ISSN in the purchase request (using a hard-coded matching routine that cannot be modified).
						 If a matching record is found in the repository, the purchase request is linked to this bibliographic record. If no match is found, a new bibliographic record is created.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="notes" type="notes" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>get post put</xs:tags>
					</xs:appinfo>
					<xs:documentation>
						List of related notes. Optional. 
						In the PUT action the incoming list will replace the existing list. If the incoming list is empty, the existing list will be deleted.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="locations" type="locations" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>get post put</xs:tags>
					</xs:appinfo>
					<xs:documentation>
Information about the locations in which the ordered items will be stored. 
Relevant only for Physical. See [Get locations API|https://developers.exlibrisgroup.com/alma/apis/conf/GET/gwPcGly021p29HpB7XTI4Dp4I8TKv6CAreHxJz3zVZbDL9ogrSqDbgE+r4q6vcJ0xBlD4LyRaVE=/37088dc9-c685-4641-bc7f-60b5ca7cabed].
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="amount">
		<xs:all>
			<xs:annotation>
				<xs:appinfo>
					<xs:tags>get post</xs:tags>
				</xs:appinfo>
				<xs:documentation>The amount.</xs:documentation>
			</xs:annotation>
			<xs:element name="sum" type="xs:string" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>get post</xs:tags>
					</xs:appinfo>
					<xs:documentation>The sum.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="currency" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>get post</xs:tags>
						<xs:codeTable>MT_CurrencySubset_by_CT_Currency_CT</xs:codeTable>
					</xs:appinfo>
					<xs:documentation>
						The currency. 
						Possible values are listed in 'Currency_CT' [code table|https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API].
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="resource_metadata">
		<xs:annotation>
			<xs:appinfo>
				<xs:tags>get post</xs:tags>
			</xs:appinfo>
			<xs:documentation>
				In order to create a purchase request, the bibliographic information should be supplied. 2 ways are supported:
				1. Supply mms_id - in this case the purchase request will be attached to this mms_id. No need to supply additional bibliographic information in this case (if supplied it will be ignored).
				2. Supply bibliographic information - in this case title is mandatory. 
				Alma will try to match this information with an existing BIB record. 
				The match routine is according to the definition of purchase_request_import_profile customer parameter.
				If no profile is specified in the parameter, the matching is based on the ISBN/ISSN in the purchase request (using a hard-coded matching routine that cannot be modified).
				 If a matching record is found in the repository, the purchase request is linked to this bibliographic record. If no match is found, a new bibliographic record is created.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="mms_id" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>get post</xs:tags>
					</xs:appinfo>
					<xs:documentation>
						mms_id. 
						If supplied in the POST action, The purchase order will be created for this bibliographic record.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="link" type="xs:string" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="citation_type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:codeTable>PR_CitationType</xs:codeTable>
						<xs:tags>get post</xs:tags>
					</xs:appinfo>
					<xs:documentation>
						Type of the requested resource. For example, book or article. Mandatory when creating a request unless mms_id is supplied. 
						Possible codes are listed in PR_CitationType [code table|https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API]: BOOK / JOURNAL.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>get post</xs:tags>
					</xs:appinfo>
					<xs:documentation>
						The title. 
						Mandatory in the POST action if mms_id was not supplied.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="author" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>get post</xs:tags>
					</xs:appinfo>
					<xs:documentation>Author of the requested resource.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="edition" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The edition of the requested resource.</xs:documentation>
					<xs:appinfo>
						<xs:tags>get post</xs:tags>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="isbn" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>get post</xs:tags>
					</xs:appinfo>
					<xs:documentation>isbn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issn" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>get post</xs:tags>
					</xs:appinfo>
					<xs:documentation>issn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lcc_number" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The library of congress number of the book.</xs:documentation>
					<xs:appinfo>
						<xs:tags>get post</xs:tags>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="other_system_number" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A central identifier number, such as Online Computer Library Center (OCLC) number</xs:documentation>
					<xs:appinfo>
						<xs:tags>get post</xs:tags>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="publisher" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>api get post</xs:tags>
					</xs:appinfo>
					<xs:documentation>The Publisher of the item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publication_place" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>get post</xs:tags>
					</xs:appinfo>
					<xs:documentation>The publication place of the item. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publication_year" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>get post</xs:tags>
					</xs:appinfo>
					<xs:documentation>The publication year of the item. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bib_note" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The note of the bibliographic record.</xs:documentation>
					<xs:appinfo>
						<xs:tags>get post</xs:tags>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="volume" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The volume number.
					</xs:documentation>
					<xs:appinfo>
						<xs:tags>get post</xs:tags>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="locations">
		<xs:annotation>
			<xs:appinfo>
				<xs:tags>get post put</xs:tags>
			</xs:appinfo>
			<xs:documentation>
				Information about the locations in which the ordered items will be stored. 
				Relevant only for physical. See [Get locations API|https://developers.exlibrisgroup.com/alma/apis/conf/GET/gwPcGly021p29HpB7XTI4Dp4I8TKv6CAreHxJz3zVZbDL9ogrSqDbgE+r4q6vcJ0xBlD4LyRaVE=/37088dc9-c685-4641-bc7f-60b5ca7cabed].
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="location" type="location" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>api get post</xs:tags>
					</xs:appinfo>
					<xs:documentation>Specific location Distributions. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="location">
		<xs:annotation>
			<xs:appinfo>
				<xs:tags>get post put</xs:tags>
			</xs:appinfo>
			<xs:documentation>Specific location Distributions.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="quantity" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>get post put</xs:tags>
					</xs:appinfo>
					<xs:documentation>The quantity per location.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="library" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>get post put</xs:tags>
						<xs:codeTable>libraries</xs:codeTable>
					</xs:appinfo>
					<xs:documentation>The library which the location belongs to.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="shelving_location" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>get post put</xs:tags>
					</xs:appinfo>
					<xs:documentation>The location.</xs:documentation>
				</xs:annotation>
			</xs:element>

		</xs:all>
	</xs:complexType>
</xs:schema>