AlmaApi/xsd/rest_department.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:annotation>
		<xs:documentation>A department in Alma represents a location within a library or institution where a service is performed.</xs:documentation>
	</xs:annotation>

	<xs:element name="department" type="department" />

	<xs:complexType name="department">
		<xs:annotation>
			<xs:documentation>Department Object.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="code" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>api get</xs:tags>
					</xs:appinfo>
					<xs:documentation>The department code.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>api get</xs:tags>
					</xs:appinfo>
					<xs:documentation>The department name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>api get</xs:tags>
					</xs:appinfo>
					<xs:documentation>The department description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The department type.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="work_days" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>api get</xs:tags>
					</xs:appinfo>
					<xs:documentation>The department work days.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="map" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>api get</xs:tags>
					</xs:appinfo>
					<xs:documentation>The department map.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="printer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The department printer.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="owner" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The department owner which may be a library or an institution.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="served_libraries" type="served_libraries"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>api get</xs:tags>
					</xs:appinfo>
					<xs:documentation>List of libraries that the department works with.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contact_info" type="contact_info"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>api get</xs:tags>
					</xs:appinfo>
					<xs:documentation>List of the departments contact information.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="operators" type="operators"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>api get</xs:tags>
					</xs:appinfo>
					<xs:documentation>List of operators for the department.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>

	</xs:complexType>

	<xs:complexType name="served_libraries">
		<xs:annotation>
			<xs:documentation>List of libraries related to the department.
			</xs:documentation>
		</xs:annotation>
		    <xs:sequence>
 	        <xs:element name="library" minOccurs="0" maxOccurs="unbounded">
		        <xs:annotation>
			        <xs:documentation>Code of the specific library.</xs:documentation>
		        </xs:annotation>
		        <xs:complexType>
			        <xs:simpleContent>
				        <xs:extension base="xs:string">
					    <xs:attribute name="desc" type="xs:string" use="optional" />
				        </xs:extension>
			       </xs:simpleContent>
		        </xs:complexType>
	        </xs:element>
            </xs:sequence>
	 </xs:complexType>
	 <xs:complexType name="contact_info">
		<xs:annotation>
			<xs:appinfo>
				<xs:tags>api get</xs:tags>
			</xs:appinfo>
			<xs:documentation>All of the the department contact information.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="addresses" type="addresses" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>api get</xs:tags>
					</xs:appinfo>
					<xs:documentation>List of contact mail addresses.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="emails" type="emails" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>api get</xs:tags>
					</xs:appinfo>
					<xs:documentation>List of contact email addresses.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="phones" type="phones" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>api get</xs:tags>
					</xs:appinfo>
					<xs:documentation>List of contact phone numbers.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="emails">
		<xs:annotation>
			<xs:appinfo>
				<xs:tags>api get</xs:tags>
			</xs:appinfo>
			<xs:documentation>List of department email addresses.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="email" type="email" minOccurs="1"	maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A specific department email address.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="email">
		<xs:annotation>
			<xs:appinfo>
				<xs:tags>api get</xs:tags>
			</xs:appinfo>
			<xs:documentation>Specific department email address.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="email_address" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>api get</xs:tags>
					</xs:appinfo>
					<xs:documentation>The email address. Mandatory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>api get</xs:tags>
					</xs:appinfo>
					<xs:documentation>The email address' related description.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="email_types">
				<xs:complexType>
					<xs:annotation>
						<xs:appinfo>
							<xs:tags>api get</xs:tags>
						</xs:appinfo>
						<xs:documentation>The different email types. Mandatory.</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="email_type" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<xs:codeTable>MT_UserRecordType2EmailType_by_CT_UserEmailTypes_source1:organization_source2:DEPT</xs:codeTable>
								</xs:appinfo>
								<xs:documentation>Possible codes are listed in the 'UserEmailTypes' [code table|https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API].
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="desc" type="xs:string" use="optional" />
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attribute name="preferred" type="xs:boolean" default="false">
			<xs:annotation>
				<xs:appinfo>
					<xs:tags>api get</xs:tags>
				</xs:appinfo>
				<xs:documentation>Indication whether the email address is the preferred one.
				Only one address can be defined as preferred.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
		<xs:complexType name="phones">
		<xs:annotation>
			<xs:documentation>List of department phone numbers.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="phone" type="phone" minOccurs="0"	maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specific department phone number.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="phone">
		<xs:annotation>
			<xs:documentation>Specific department phone number.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="phone_number" type="xs:string">
				<xs:annotation>
					<xs:documentation>The phone number. Mandatory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="phone_types">
				<xs:annotation>
					<xs:documentation>The different Phone types. Mandatory.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Phone types.</xs:documentation>
					</xs:annotation>
					<xs:sequence>

						<xs:element name="phone_type" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<xs:codeTable>MT_UserRecordType2PhoneType_by_CT_UserPhoneTypes_source1:organization_source2:DEPT</xs:codeTable>
								</xs:appinfo>
								<xs:documentation>Possible values are listed in the 'UserPhoneTypes' [code table|https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API].
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="desc" type="xs:string" use="optional" />
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>

		<xs:attribute name="preferred" type="xs:boolean" default="false">
			<xs:annotation>
				<xs:documentation>Indication whether the phone number is the preferred one.
					Only one address can be defined as preferred.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="preferred_sms" type="xs:boolean"
			default="false">
			<xs:annotation>
				<xs:documentation>Indication whether the phone number is the preferred one for SMS sending.
				Only one phone number can be defined as preferred.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="addresses">
		<xs:annotation>
			<xs:documentation>List of department addresses.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="address" type="address" minOccurs="0"	maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A specific department address.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="address">
		<xs:annotation>
			<xs:documentation>Specific department address.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="line1" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Line 1 of the address. Mandatory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="line2" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Line 2 of the address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="line3" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Line 3 of the address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="line4" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Line 4 of the address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="line5" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Line 5 of the address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="city" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The address' relevant city. Mandatory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="state_province" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The address' relevant state.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postal_code" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The address' relevant postal code.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="country" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xs:codeTable>CountryCodes</xs:codeTable>
					</xs:appinfo>
					<xs:documentation>The address' relevant country.
					Possible codes are listed in the 'Country Codes' [code table|https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API].
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="address_note" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The address' related note.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="start_date" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date from which the address is deemed to be active.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="end_date" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date after which the address is no longer active.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="address_types">
				<xs:annotation>
					<xs:documentation>Address types. Mandatory.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Address types.</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="address_type" minOccurs="0"
							maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<xs:codeTable>MT_UserRecordType2AddressType_by_CT_UserAddressTypes_source1:organization_source2:DEPT</xs:codeTable>
								</xs:appinfo>
								<xs:documentation>Possible values are listed in the 'UserAddressTypes' [code table|https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API].
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="desc" type="xs:string" use="optional" />
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attribute name="preferred" type="xs:boolean" default="false">
			<xs:annotation>
				<xs:documentation>Indication whether the address is the preferred one.
				Only one address can be defined as preferred.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="operators">
		<xs:annotation>
			<xs:documentation>List of operators for the department.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
            <xs:element name="operator" type="operator" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation> A specific operator. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
	</xs:complexType>
	<xs:complexType name="operator">
        <xs:annotation>
            <xs:documentation> A particular operator. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="primary_id" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>api get</xs:tags>
                    </xs:appinfo>
                    <xs:documentation> The primary identifying value. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="full_name" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>api get</xs:tags>
                    </xs:appinfo>
                    <xs:documentation> The user full name. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="link" type="xs:string" use="optional" />
    </xs:complexType>
</xs:schema>

